:root {
  --black: #000000;
  --white: #ffffff;
  --background-color: #f8f9fa;
  --background: #dbfcfc;
  --link: #096a2e;
  --button: #007bff;
  --button-hover: #0056b3;
  --text: #666;
  --header-text: #333;
  --border: #e1e1e1;
  --navbar: lightgray;
  --navbar-hover: #555555;
  --footer-btn: #ffcd29;
  --footer-hover: #ffb800;
  --table-header: #f8f9fa;
  --table-row: #ffffff;
  --table-row-odd: #f2f2f2;
  --table-row-hover: #f8f9fa;
  --form-button: #27ae60;
  --form-button-hover: #219651;
  --text-input: #aedcff;
  --select-hover: #d6e4ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #ffffff;
    --white: #000000;
    --background-color: #333138;
    --background: #273c40;
    --link: #34d058;
    --button: #1f6feb;
    --button-hover: #0056b3;
    --text: #cccccc;
    --header-text: #ffffff;
    --border: #333333;
    --navbar: #222222;
    --navbar-hover: #444444;
    --footer-btn: #6c6c00;
    --footer-hover: #525200;
    --table-header: #333138;
    --table-row: #222222;
    --table-row-odd: #2b2b2b;
    --table-row-hover: #444444;
    --form-button: #8e8e8e;
    --form-button-hover: #787878;
    --text-input: #444;
    --select-hover: #555;
  }
}
